{% load static %}  
<!DOCTYPE html>  
<html>  
<head>  
    <title>Employee Records</title>  
    <link rel="stylesheet" href="{% static 'style.css' %}">  

</head>  
<body>  
    <nav>
    <a href="/">Home</a>
    <a href="/show">Employees</a>
    <a href="/upload/">Upload Files</a>
    <a href="/chat/">AI Chatbot</a>
</nav>
<h2>Employee Records</h2>  
<table>  
    <tr>  
        <th>ID</th>  
        <th>Name</th>  
        <th>Email</th>  
        <th>Contact</th>  
        <th>Actions</th>  
    </tr>  
    {% for emp in employees %}  
    <tr> 
        <td>{{ emp.id }}</td> 
        <td>{{ emp.eid }}</td>  
        <td>{{ emp.ename }}</td>  
        <td>{{ emp.eemail }}</td>  
        <td>{{ emp.econtact }}</td>  
        <td>  
            <a href="/edit/{{ emp.id }}">Edit</a> |  
            <a href="/delete/{{ emp.id }}">Delete</a>  
        </td>  
    </tr>  
    {% endfor %}  
</table>  
<br>  
<center>  
    <a href="/emp">Add New Employee</a>  
</center>  
</body>  
</html>  